<ion-header>
  <ion-toolbar color="danger">
    <ion-title>My App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button (click)="showLoading()" color="danger" expand="block">Show Loading</ion-button>

  <ion-button (click)="showToast()" color="danger" expand="block">Show Toast</ion-button>

  <ion-button (click)="showAlert()" color="danger" expand="block">Show Alert</ion-button>

  <ion-button (click)="showActionsheet()" color="danger" expand="block">Show Actionsheet</ion-button>
  
</ion-content>
